@keyframes grow-button {
    0% {padding: 5px 10px;margin: 5px;}
    100% {padding: 10px 20px;margin: 0px;}
}

@keyframes rgrow-button {
    0% {padding: 10px 20px;margin: 0px;}
    100% {padding: 5px 10px;margin: 5px;}   
}

@keyframes grow-tarea {
    0% {margin: 10px;padding: 20px;}
    100% {margin: 10px;padding: 35px;}
}

@keyframes rgrow-tarea {
    100% {margin: 10px;padding: 20px;}
    0% {margin: 10px;padding: 35px;}
}


body {
    background-color: #202324;
    color: white;
    font-family: Helvetica, sans-serif;
}
.tarea {
    background-color: orangered;
    margin: 10px;
    padding: 20px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    animation-name: rgrow-tarea;
    animation-duration: 0.5s;
}

.tarea:hover {
    animation-name: grow-tarea;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.completado {
    background-color: rgb(68, 122, 14);
    margin: 10px;
    padding: 20px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

input[type=button] {
    background-color: rgb(72, 72, 255);
    color: white;
    padding: 5px 10px;
    border: 0;
    margin: 5px;
    border-radius: 15px;
    animation-name: rgrow-button;
    animation-duration: 0.5s;
}

input[type=button]:hover {
    background-color: rgb(0, 0, 128);
    color: white;
    border: 0;
    margin: 5px;
    border-radius: 15px;
    animation-name: grow-button;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}